.Logo {
   width: 88px;
   height: 26px;
   position: absolute;
   left: 5.29%;
   right: 75.33%;
   top: 4.39%;
}

.Background {
   width: 357px;
   height: 194px;
   margin: 34px 45px 0 52px;
   padding: 0;
}

.Card {
   width: 454px;
   height: 547px;
   background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
   box-shadow: -3px 8px 24px rgba(0, 0, 0, 0.23);
   border-radius: 24px;
   position: relative;
}

.Btn {
   width: 226px;
   height: 56px;
   background: #EBD8FF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 12px;
   border: none;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   color: #373737;
   font-size: 20px;
   line-height: 24px;
   text-transform: uppercase;
   position: absolute;
   left: 114px;
   top: 443px;
   cursor: pointer;
   transition: 250ms;
}

.Btn:hover {
   transform: scale(0.97);
}

.BtnActive {
   composes: Btn;
   background-color: #5cd3a8;
}



.Line {
   position: absolute;
   width: 454px;
   height: 8px;
   left: 0px;
   top: 251px;
   background: #EBD8FF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), inset 0px -2px 4px #AE7BE3, inset 0px 4px 3px #FBF8FF;
}

.Avatar {
   position: absolute;
   left: 181px;
   top: 209px;
}

.Tweets {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   text-transform: uppercase;
   color: #EBD8FF;
   text-align: center;
   margin-top: 105px;
}

.Followers {
   composes: Tweets;
   margin-top: 20px;
}